
#downb{
    float: right;
  }
#dashhead{
  text-align: center;}
#bimg{
    width: 150px;
    margin-left: auto;}
#contact{
  color:navy;
  font-size: 50px;}

#addr{
color:navy;
  font-size:20px;}

 #bttn{
  float:left;}
    