footer{
    background-color: gainsboro;
}
h3{text-align: center;}
h1{
    text-align: center;
    font-size: 90px;
}
#bimg{
        width: 150px;
        margin-left: auto;
    }
#submit{
    border:1px solid gray;
    background-color: blueviolet;
}
#submit:hover{
    background-color: rgb(189, 144, 232);
}
#colr{
    color:aliceblue;
}
#hd1{
    font-size: 50px;
    color:navy;
}
#p1{
    font-size:20px;
    color:navy;
}